.menu {
  margin-top: 100px;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.categories {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
}


.categoriesContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 20px;
  margin-top: 40px;
}

.categoriesCard {
  justify-self: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 280px;
  height: 75px;
  box-shadow: 0px 5px 10px grey;
  border-radius: 10px;
}

.categoriesCard img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  opacity: 0.3;
}

.categoriesCard h2 {
  padding: 20px;
  margin-top: -83px;
  color: white;
  font-weight: 800;
  font-style: italic;
  font-size: 24px;
  white-space: nowrap;
}

.subcategories {
  text-align: center;
}

.subcategoriesContainer {
  display: grid;
  max-width: 100%;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 20px;
  margin-top: 40px;
}

.subcategoriesCard {
  justify-self: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 280px;
  height: auto;
  box-shadow: 0px 5px 10px grey;
  border-radius: 10px;
}

.subcategoriesCard h2 {
  padding: 20px;
  margin: 0;
  color: white;
  font-weight: 800;
  font-style: italic;
  font-size: 24px;
  white-space: nowrap;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 20px;
  margin-top: 40px;
}

.productContainer h4{
  padding: 20px;
  color: white;
  font-weight: 800;
  font-style: italic;
  font-size: 24px;
  white-space: nowrap;
}

.card {
  justify-self: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 280px;
  height: 120px;
  box-shadow: 0px 5px 10px grey;
  border-radius: 10px;
}

.card p {
  margin-top: 45px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  font-weight: 800;
  font-style: italic;
  font-size: 14px;
}

.card h3 {
  font-size: 20px;
  text-align: left;
  margin-top: 0px;
  margin-left: 10px;
}


@media (max-width: 768px) {
  .cardContainer {
    padding: 10px;
  }
}
