<div class="menu">
  <div class="categories">
    <!---------------------------------------COMIDA---------------------------------------->
    <div class="categoriesContainer" *ngIf="showFoodCategories" [@fadeInOut]>
      <h2>Comidas:</h2>
      <div
        class="categoriesCard"
        *ngFor="let category of comidas"
        (click)="onSelectFoodCategory(category)"
      >
      <img [src]="category.imageUrl" alt="{{ category.name }}" class="category-image"/>
        <h2>{{ category.name }}</h2>
      </div>
    </div>
    <!-------------------------------SUBCATEGORIAS DE COMIDA-------------------------------->
    <div class="subcategories" *ngIf="selectedFoodCategory && showFoodSubcategories"[@fadeInOut]>
      <h2>{{ selectedFoodCategory.name }}</h2>
      <button (click)="goBackToFoodCategories()">Volver a "COMIDAS"</button>
      <div class="subcategoriesContainer">
        <div
          class="subcategoriesCard"
          *ngFor="let subcategory of selectedFoodCategory.subcategories"
          (click)="onSelectFoodSubcategory(subcategory)"
        >
          <h2>{{ subcategory.name }}</h2>
        </div>
      </div>
 
    </div>
    <!----------------------------------PRODUCTOS DE COMIDA--------------------------------->
    <div
      class="productContainer"
      *ngIf="!showFoodSubcategories && showFoodProducts"
      [@fadeInOut]
    >
    <h4>Products in {{ selectedFoodSubcategory?.name || selectedFoodCategory?.name}}</h4>
    <button *ngIf="!selectedFoodSubcategory && !showFoodSubcategories && showFoodProducts" (click)="goBackToFoodCategories()">
      Volver a "COMIDAS"
    </button>
    <button *ngIf="selectedFoodSubcategory && !showFoodSubcategories && showFoodProducts" (click)="goBackToFoodSubcategories()">
      Volver a "{{selectedFoodSubcategory.name}}"
    </button>
    <div class="cardContainer">  
    <div *ngFor="let product of foodProducts" class="card">
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>
      </div>
    </div>
  </div>
  </div>
    <!---------------------------------------BEBIDA---------------------------------------->
  <div class="categories">
    <div class="categoriesContainer" *ngIf="showDrinkCategories" [@fadeInOut]>
      <h2>Bebidas:</h2>
      <div
        class="categoriesCard"
        *ngFor="let category of bebidas"
        (click)="onSelectDrinkCategory(category)"
      >
      <img [src]="category.imageUrl" alt="{{ category.name }}" class="category-image"/>
        <h2>{{ category.name }}</h2>
      </div>
    </div>
    <!-------------------------------SUBCATEGORIAS DE BEBIDA-------------------------------->

    <div
      class="subcategories"
      *ngIf="selectedDrinkCategory && showDrinkSubcategories"
      [@fadeInOut]
    >
      <h2>{{ selectedDrinkCategory.name }}</h2>
      <button (click)="goBackToDrinkCategories()">Volver a "BEBIDAS"</button>
      <div class="subcategoriesContainer">
        <div
          class="subcategoriesCard"
          *ngFor="let subcategory of selectedDrinkCategory.subcategories"
          (click)="onSelectDrinkSubcategory(subcategory)"
        >
          <h2>{{ subcategory.name }}</h2>
        </div>
      </div>
    </div>
    <!----------------------------------PRODUCTOS DE BEBIDA--------------------------------->

    <div
      class="productContainer"
      *ngIf="!showDrinkSubcategories && showDrinkProducts"
      [@fadeInOut]
    >
      <h4>
        Products in
        {{ selectedDrinkSubcategory?.name || selectedDrinkCategory?.name }}
      </h4>
      <button *ngIf="!selectedDrinkSubcategory && !showDrinkSubcategories && showDrinkProducts" (click)="goBackToDrinkCategories()">
        Volver a "BEBIDAS"
      </button>
      <button *ngIf="selectedDrinkSubcategory && !showDrinkSubcategories && showDrinkProducts" (click)="goBackToDrinkSubcategories()">
        Volver a "{{selectedDrinkCategory?.name}}"
      </button>
      <div class="cardContainer">
      <div *ngFor="let product of drinkProducts" class="card">
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
      </div>
    </div>

    </div>
  </div>
</div>
