.home {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}

.logo {
  position: absolute;
  margin-top: 5%;
  width: 60%;
  left: 10%;
  height: 45%;
  max-width: 550px;
}

.reyFain {
  position: absolute;
  margin-top: 20%;
  width: 10%;
  left: 20%;
  height: 60%;
  rotate: 90deg;
}

.reyFaina {
  position: absolute;
  margin-top: -7%;
  width: 10%;
  left: 75%;
  height: 60%;
  rotate: 90deg;
}

.historia {
  position: absolute;
  margin-top: 30%;
  width: 50%;
  left: 5%;
  height: 10%;
}

.histori {
  position: absolute;
  margin-top: 3%;
  width: 50%;
  left: 40%;
  height: 10%;
}

.pizzeria {
  position: absolute;
  margin-top: 17%;
  width: 13%;
  left: 25%;
  height: 8%;
  rotate: -10deg;
  box-shadow: rgb(255, 255, 255);
  max-width: 200px;
}

.background {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.guiaMenu {
  position: fixed;
  right: 2%;
  top: 45%;
  width: 35%;
  height: 70%;
  transition: all 0.3s ease;
  aspect-ratio: 1 / 1.4; 
  border-radius: 100%;
  background-color: transparent;
  color: white;
  display: flex;
  align-items: flex-start;
  padding-top: 250px;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  font-size: 2.2em;
}

.guiaMenu:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 1200px) {
  .guiaMenu {
    width: 35%;
    max-width: 300px;
    font-size: 2em;
  }

  .logo {
    width: 45%;
    left: 8%;
  }

  .pizzeria {
    width: 9%;
    left: 20%;
  }
}

@media (max-width: 992px) {
  .guiaMenu {
    width: 40%;
    max-width: 250px;
    font-size: 1.8em;
  }

  .logo {
    width: 50%;
    left: 5%;
  }
}

@media (max-width: 768px) {
  .guiaMenu {
    width: 45%;
    max-width: 200px;
    font-size: 1.6em;
  }

  .logo {
    width: 60%;
    left: 5%;
  }
}

@media (max-width: 576px) {
  .guiaMenu {
    width: 50%;
    max-width: 180px;
    font-size: 1.4em;
  }

  .logo {
    width: 70%;
    left: 5%;
  }
}

@media (max-width: 400px) {
  .guiaMenu {
    width: 55%;
    max-width: 150px;
    font-size: 1.2em;
  }

  .logo {
    width: 80%;
    left: 5%;
  }
}