<div class="home">
  <img class="logo" src="../assets/logoSanCayetano.png" alt="logoSanCayetano">
    <img class="background" src="../assets/pngtree-a-table-with-many-pizzas-spread-out-on-a-brown-wooden-image_10207133.jpg" alt="background pizzas">
  <div class="title">
    <h2>Nuestros productos:</h2>
  </div>
  <div class="categories">
    <button (click)="filterProducts('Pizzas')">Pizzas</button>
    <button (click)="filterProducts('Bebidas')">Bebidas</button>
    <button (click)="filterProducts('Lomos y empanadas')">Lomos y empanadas</button>
  </div>
  <div class="cards">
    <app-producto-card [products]="filteredProducts"></app-producto-card>
  </div>
</div>
